.divBlock {
    flex: 1 1;
    margin: 0;
    border: 0;
    padding: 0;
    height: 30px;
    width: 10px;
    background-color: gray;
}

.divRow {
    display: flex;
    flex-direction: row;
    flex: 1 1;
    margin: 0;
    border: 0;
    padding: 0;
}

#divGrid {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
}